DEEPL_API_KEY=3a2338af-ad6b-4f6c-a6ab-07d12ef7a56f:fx
LINE_CHANNEL_SECRET=12cf201944137f6049dd519cc23c6dbf
LINE_CHANNEL_ACCESS_TOKEN=2PUkX4zAwUhka+KFeKGEg4J9XnmsQA0rYrxOWOedVe5MGzGzcGY7ZJnEaB/fiBBa9X6sQefOyYpj5C16P98uaKYpmenT1skJYsvIxDqcML+cN1OyzIf0m0VQF/TrigV71URNJGlIcxfSQzSTGijiAwdB04t89/1O/w1cDnyilFU=
# Optional override, otherwise inferred from the DeepL key:
# DEEPL_URL=https://api-free.deepl.com/v2/translate
